.docs-list .main-section .docs-method-header.OEEenhanced{
    position: relative;
    padding-right: 25px;
}

.insertInCEButton{
	margin: -2px 0 -2px 0;
    position: absolute;
    float: none;
    right: 0px;
}

.insertInCEButton:hover {
    color: #4987ef;
}

.dark .insertInCEButton:hover {
    color: #1050b7;;
}