.OEEexHide,
.OEEexHide+div,
.OEEexHide+div+div,
.OEEexHide+div+div+div,
.OEEexHide+div+div+div+div{
	display: none;
}
.OEEexHide+hr.divider,
.OEEexHide+div+hr.divider,
.OEEexHide+div+div+hr.divider,
.OEEexHide+div+div+div+hr.divider,
.OEEexHide+div+div+div+div+hr.divider{
	display: none;
}
.OEEexVerbose{
	background-color: #b5fffe;
}

.dark .OEEexVerbose{
	background-color: #005e5d;
}

.OEEexUploadButton iron-icon{
	min-width: 30px;
	box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
	color: var(--ee-legacy-blue);
	font-size: var(--ee-button-font-size);
	min-height: 30px;
}

.OEEexUploadButton.dragover iron-icon{
	color: blueviolet;
}

ee-console-log.OEEexTerminal{
	position: absolute;
	bottom: -30px;
	width: 98%;
}

ee-console-log.OEEexTerminal div{
	display: inline-grid;
	width: calc( 99% - 18px);
	margin: 0!important;
	background-color: transparent!important;
}

ee-console-log.OEEexTerminal input.jfk-textinput{
	border: none;
	background-color: transparent;
}

ee-console-log.OEEexTerminal input.jfk-textinput:focus{
	box-shadow: none;
}

ee-console-log.OEEexTerminal input::placeholder{
	color: transparent;
}

ee-tab-panel ee-tab:nth-child(2){
	height: calc(100% - 45px);
}

.oeeMenuContextContainer {
	z-index: 10;
	display: flex;
	flex-direction: column;
	gap: 5px;
	background: #f0f0f0;
	border: 1px solid #d4d4d4;
	padding: 5px;
	position: absolute;
	border-radius: 5px;
}

.oeeMenuContextButton {
	display: block;
	width: 100%;
	box-sizing: border-box;
	background-color: #fff; /* Default background */
	border: none;
	padding: 5px 10px;
	text-align: left;
}

.oeeMenuContextButton:hover {
	background-color: #e0e0e0; /* Darker background on hover */
}

.oeeSCSContainer{
	z-index: 10;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	flex-direction: column;
	gap: 5px;
	background: #f0f0f0;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	padding: 5px;
}

.oeeSCSContainer.visible{
	display: flex;
}

.session-toggle {
	display: flex;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	overflow: hidden; /* Ensures the buttons fit nicely inside the container */
}

.toggle-btn {
	flex: 1;
	padding: 5px 10px;
	border: none;
	background: #e0e0e0;
	color: #000;
	cursor: pointer;
	transition: background-color 0.3s;
}

.toggle-btn.left {
	border-right: 1px solid #d4d4d4;
	border-radius: 5px 0 0 5px;
}

.toggle-btn.right {
	border-radius: 0 5px 5px 0;
}

.toggle-btn.active {
	background: #f0f0f0;
}

.toggle-btn {
	flex: 1;
	padding: 5px 10px;
	border: none;
	background: #e0e0e0;
	color: #000;
	cursor: pointer;
	transition: background-color 0.3s, box-shadow 0.3s;
	position: relative; /* For z-index */
	z-index: 1; /* Ensure active button appears above the non-active */
}

.toggle-btn.active, #validateSession:active {
	background: #d0d0d0; /* Slightly darker to simulate being pressed */
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); /* Inner shadow for "in" effect */
	z-index: 2; /* Ensure active button is above others */
}

.oeeSCSContainer input.wrong{
	color:red;
}

.remoteSelection{
	background-color: rgba(0,255,0,0.5);
}