.OEEexHide,
.OEEexHide+div,
.OEEexHide+div+div,
.OEEexHide+div+div+div,
.OEEexHide+div+div+div+div{
	display: none;
}
.OEEexHide+hr.divider,
.OEEexHide+div+hr.divider,
.OEEexHide+div+div+hr.divider,
.OEEexHide+div+div+div+hr.divider,
.OEEexHide+div+div+div+div+hr.divider{
	display: none;
}
.OEEexVerbose{
	background-color: #b5fffe;
}

.dark .OEEexVerbose{
	background-color: #005e5d;
}

.OEEexUploadButton iron-icon{
	min-width: 30px;
	box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
	color: var(--ee-legacy-blue);
	font-size: var(--ee-button-font-size);
	min-height: 30px;
}

.OEEexUploadButton.dragover iron-icon{
	color: blueviolet;
}

ee-console-log.OEEexTerminal{
	position: absolute;
	bottom: -30px;
	width: 98%;
}

ee-console-log.OEEexTerminal div{
	display: inline-grid;
	width: calc( 99% - 18px);
	margin: 0!important;
	background-color: transparent!important;
}

ee-console-log.OEEexTerminal input.jfk-textinput{
	border: none;
	background-color: transparent;
}

ee-console-log.OEEexTerminal input.jfk-textinput:focus{
	box-shadow: none;
}

ee-console-log.OEEexTerminal input::placeholder{
	color: transparent;
}

ee-tab-panel ee-tab:nth-child(2){
	height: calc(100% - 45px);
}

.oeeMenuContextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #f0f0f0;
  border: 1px solid #d4d4d4;
  padding: 5px;
  position: absolute;
}

.oeeMenuContextButton {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff; /* Default background */
  border: none;
  padding: 5px 10px;
  text-align: left;
}

.oeeMenuContextButton:hover {
  background-color: #e0e0e0; /* Darker background on hover */
}