html{
	--oeel-background-color: rgb(240,240,240);
	--oeel-color: black;
}	

html.dark{
	--oeel-background-color: rgb(29, 31, 33);
	--oeel-color: #C5C8C6;
}	

header{
	width: auto;
	height: 300px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	background: linear-gradient(to top right, #524ad0 10%, #D099FA);
}

#logo{
	margin: 0 auto;
}

.param > div{
	display: none;
}

.param > div.available{
	display: block;
}

.dark{
	background-color:var(--oeel-background-color) ;
	color: var(--oeel-color);
}

.dark body, .dark h2{
	color: var(--oeel-color);
}

main div.block{
	max-width: 700px;
	margin: 0 auto;
}

div.lock{
	margin: -1em 0;
}

.message-body{
	position: relative;
}

.lightMode, .dynamicPlotlyMode{
	border: solid 2px #3e8ed0;
	border-radius: calc(1em + 3px);
	right: 1em;
	position: absolute;
	top: 0.75em;
	padding: 6px 5px 0px 5px;
	margin: 0;
	background-color: #3e8ed033;
}

.lightMode span, .dynamicPlotlyMode span{
	color: gray;
}
.lightMode span.active,.dynamicPlotlyMode span.active{
	text-shadow: #3e8ed0 0px 0px 7px;
	color: #3e8ed0;
}

.off .message-body{
	/*pointer-events: none;*/
	filter: opacity(0.8) grayscale(0.6);
}

.off .message-body span.lightMode, .off .message-body div.subsection.box{
	/*pointer-events: none;*/
	filter: blur(1.5px);
	pointer-events:none
}

.off .message-header{
	filter: opacity(0.5)
}

.message-header .icon{
	margin: -2px auto -2px 10px;
	font-size: 35px;
}

.message-header .icon{
	display: none;
}

.somethingMissing:not(.off) .message-header .icon{
	display: flex;
}



.hr-text {
	position: relative;
	text-align: center;
	height: 1.5em;
	background-color: transparent;
}

.hr-text:before {
	content: '';
	background: linear-gradient(to right, transparent, #818078, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}
.hr-text:after {
	color: black;
	content: attr(data-content);
	position: relative;
	padding: 0 0.5em;
	line-height: 1.5em;
	background-color: white;
}

.hr-big{
	background: linear-gradient(90deg, #0000 0%, #818078 15%, #111111 50%, #818078 85%, #0000 100%);
	left: 0;
	top: 50%;
	width: 100%;
	height: 2px;
}

.radio-list ol,.radio-list input{
	display: inline-grid;
	vertical-align: middle;
}

input[type=range] {
	-webkit-appearance: none;
	margin: 20px 0;
	width: 100%;
}
@-moz-document url-prefix() {
	input[type=range] {
		margin: 10px 0;
	}
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track{
	width: 100%;
	height: 4px;
	cursor: pointer;
	animate: 0.2s;
	background: #3e8ed0;
	border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track{
	background: #3e8ed0;
}

input[type="range"]::-moz-range-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	animate: 0.2s;
	background: #3e8ed0;
	border-radius: 25px;
}
input[type=range]::-moz-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}
input[type=range]:focus::-moz-slider-runnable-track {
	background: #3e8ed0;
}

.range-wrap{
	width: 100%;
	position: relative;
}
.range-value{
	position: absolute;
	top: -50%;
}
.range-value span{
	width: 30px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #3e8ed0;
	color: #fff;
	font-size: 12px;
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 6px;
}
.range-value span:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid #3e8ed0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
}

.control .wrong, .control .wrong + span.icon{
	color: red
}

#planetApiOptions .planetApi{
	display: none;
}

#planetApiOptions.v1 .planetApi.v1,#planetApiOptions.v2 .planetApi.v2{
	display: block;
}

img.PlanetThumbnail {
	max-height: 150px;
}

#orderBlock .table td{
	vertical-align: middle;
	font-size: 1.3em;
}

#orderBlock .table{
	background-color: transparent;
}

#orderBlock article .message-body
{
	max-height: 0px;
	padding: 0;
	overflow: hidden;
	transition: all 1s cubic-bezier(0, 0, 0, 1);;
}

#orderBlock article.expended .message-body
{
	max-height: 100000px;
	transition: all 1s cubic-bezier(1, 0, 1, 1);
}

#orderBlock article .expandButton
{
	transition: all 1s cubic-bezier(0.52, 0, 0.89, 1.33);
}

#orderBlock article.expended .expandButton
{
	transform: rotate(180deg);
	transition: all 1s cubic-bezier(0.52, 0, 0.89, 1.33);
}

#orderBlock article table.planetImages tr
{
	height: 180px;
}

.editorSettings input, .editorSettings select{
	position: absolute;
	right: 3em;
}

.editorSettings select{
	margin-top: 4px;
}

